.detail-container {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  background-color: white;
  width: 90%;

  &__description {
    color: rgb(77, 77, 77) 
  }
  &__size {
    font-size: 22px;
    color: rgb(73, 58, 58) 
  }
  &__price {
    font-weight: 700;
    font-size: 22px;
    color: rgb(73, 58, 58) 
  }
img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 5px;
}


}