/* .cart-widget {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 5px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 10px; 
}
 */


/* .cart-widget {} */
  

.cart-info {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.cart-info p {
    margin-left: 5px; /* Ajusta el espacio entre el icono y el número según sea necesario */
}
