.cartwidget {
  display: flex;
  flex-direction: column;
  color: white;

  .cart {
    font-size: 1.5rem;
    transform: translateY(-5px);
  }
  p {
    margin: 0;
    text-align: center;
    height: auto;
    color: white;
    transform: translate(1px, 4px);

  }
}