.pagacion {
  display: flex;
  justify-content: space-between; 
  width: 82%;
  margin-left: auto;
  margin-right: auto;
}


.formcontent {
  width: 45%; /* Ajusta según sea necesario */
}

.infocontent {
  width: 45%; /* Ajusta según sea necesario */
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  width: 100%;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.infocontent h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.infocontent p {
  margin-bottom: 5px;
}

.infocontent div {
  margin-top: 20px;
}

.invisible-btn {
  display: none;
}
