.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  z-index: 1000; 
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}


  .logo {
    color: white; 
    text-decoration: none; 
  }
  

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  

  .nav-link {
    text-decoration: none;
    color: white;
  }
  
